* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray
}

header {
    background-color: rgba(0, 128, 0, 0.473);
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 2vw;
}

.foto-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-album {
    width: 320px;
    height: 600px;
    border: 12px solid rgba(0, 0, 255, 0.76);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.801);
    flex-grow: 0.2;
    transition: transform .5s;
    filter: sepia(100%) saturate(1.7);
    cursor: url(IMG/cursor\ \(2\).cur), default;
    
}

.foto-album:hover {
    transform: scale(1.1);
    filter: sepia(0%)
}

footer {
    text-align: center;
    font-size: 50px;
    background-color: yellowgreen;
}